<form action="/admin/categorias/nova" method="POST" class="w-50 mx-auto mt-5">
    <label for="nome">Nome: </label>
         <input type="text" id="nome" name="nome" placeholder="Nome das categorias">
    <label for="slug">Slug: </label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria">
    <button type="submit" class="btn btn-success">Criar categoria</button>    

</form>     
